.doom {
    color: #39c3f1;
    font-weight: bold;
}

.ui.table td {
    padding: 0.5em;
}

td.text-col {
    font-size: 14px;
}

.items-table tbody tr td:nth-child(2) {
    white-space: nowrap;
}

.items-table tbody tr td:nth-child(3) {
    padding: unset;
}

.items-table tbody tr td:nth-child(3) .ui.image {
    display: initial;
    width: auto;
    height: 20px;
}

img.icon {
    width: auto;
    height: 18px;
    vertical-align: top;
}

.items-table img.icon.double-height {
    height: 36px;
    vertical-align: middle;
}

.items-table .source-col {
    white-space: nowrap;
}

text.item-head {
    font-size: 25px;
}

text.item-id,
text.item-cost {
    font-size: 40px;
}

text.item-count {
    font-size: 14px;
    font-family: 'Alice', serif;
}

text.item-text {
    font-size: 14px;
    font-family: 'Alice', serif;
}

svg.item-card {
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ui.list .ui.image {
    width: auto;
    height: 20px;
    vertical-align: top;
    border: 1px solid limegreen;
    border-radius: 100%;
}

.ui.list .ui.image.disabled {
    border: 1px solid transparent;
}

.pull-right {
    float: right;
}

.list-header-break {
    display: block !important;
}

.ui.radio.checked .icon {
    border-bottom: 2px solid #21ba45;
}

.ui.horizontal.list {
    display: block;
}

.ui.text.red {
    color: #db2828 !important;
}

.ui.text.orange {
    color: #f2711c !important;
}

.ui.text.yellow {
    color: #fbbd08 !important;
}

.ui.text.olive {
    color: #b5cc18 !important;
}

.ui.text.green {
    color: #21ba45 !important;
}

.ui.text.teal {
    color: #00b5ad !important;
}

.ui.text.blue {
    color: #2185d0 !important;
}

.ui.text.violet {
    color: #6435c9 !important;
}

.ui.text.purple {
    color: #a333c8 !important;
}

.ui.text.pink {
    color: #e03997 !important;
}

.ui.text.brown {
    color: #a5673f !important;
}

.ui.text.grey {
    color: #767676 !important;
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    /* opacity:0.7; */
    /* -webkit-transition: opacity .15s ease-in-out; */
    /* transition: opacity .15s ease-in-out; */
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

div.spoiler .ui.attached.segment {
    border: 1px dashed #db2828;
}
div.spoiler .ui.tabular.menu .item.active {
    border-left: 1px dashed #db2828;
    border-top: 1px dashed #db2828;
    border-right: 1px dashed #db2828;
}
div.spoiler .ui.tabular.menu {
    border-bottom: 1px dashed #db2828;
}

img.item-card {
    max-width: 20%;
    height: auto;
    filter: brightness(105%) contrast(90%);
    border-radius: 10px;
}

@media screen and (max-width: 414px) {
    img.item-card {
        max-width: 50%;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
    img.item-card {
        max-width: 33%;
    }
}

@media screen and (max-width: 768px) {

    .ui.table,
    .ui.basic.table,
    .items-table,
    .items-table tr,
    .items-table tr td {
        border: none;
    }

    .ui.table thead tr:first-child>th:first-child {
        border-radius: unset;
        border-bottom: unset;
    }

    .items-table tr {
        border: 2px solid #00b5ad !important;
        border-radius: 5px;
    }

    .items-table tbody tr:first-child td:nth-child(4),
    .items-table tbody tr:first-child td:nth-child(5),
    .items-table tbody tr:first-child td:nth-child(6) {
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .items-table tr {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin-bottom: 10px;
    }

    .items-table .ui.image {
        margin-top: 7px;
    }

    .items-table thead tr th.name-col,
    .items-table tbody tr td.name-col {
        grid-column: 3/8;
        font-size: 1.1em;
        font-weight: bold;
        white-space: normal;
        border-top: none;
    }

    .items-table thead tr th.slot-col,
    .items-table tbody tr td.slot-col {
        grid-row: 1;
        grid-column: 2;
        border-top: none;
    }

    .items-table thead tr th.cost-col,
    .items-table tbody tr td.cost-col {
        grid-row: 2;
        grid-column: 2;
        border-bottom: none;
    }

    .items-table thead tr th.use-col,
    .items-table tbody tr td.use-col {
        grid-column: 1;
        grid-row: 2;
        border-left: none !important;
        border-bottom: none;
    }

    .items-table thead tr th.text-col,
    .items-table tbody tr td.text-col {
        grid-column: 3/11;
        grid-row: 2;
        border-bottom: none;
    }

    .items-table thead tr th.source-col,
    .items-table tbody tr td.source-col {
        grid-column: 8/11;
        grid-row: 1;
        font-size: 0.9em;
        border-top: none;
    }
}
