.doom {
	color: #39c3f1;
	font-weight: bold;
}

.command {
	color: #c49986;
	font-weight: bold;
}

.augment {
	color: #bbbbb9;
	font-weight: bold;
}

.song {
	color: #e6bb99;
	font-weight: bold;
}

.spirit {
	color: #63c158;
	font-weight: bold;
}

.prayer {
	color: #e3e493;
	font-weight: bold;
}

.mounted {
	color: #76c9c7;
	font-weight: bold;
}

.ui.table td {
	padding: 0.5em;
}

td.text-col {
	font-size: 14px;
}

.items-table tbody tr td:nth-child(2) {
	white-space: nowrap;
}

.items-table tbody tr td:nth-child(3) {
	padding: unset;
}

.items-table tbody tr td:nth-child(3) .ui.image {
	display: initial;
	width: auto;
	height: 20px;
}

img.icon {
	width: auto;
	height: 18px;
	vertical-align: top;
}

img.ui.image.confirmDeleteIcon {
	left: 5px;
	display: inline-block;
	width: auto;
	height: 30px;
}

.items-table img.icon.double-height {
	height: 36px;
	vertical-align: middle;
}

.items-table .source-col {
	white-space: nowrap;
}

text.item-head {
	font-size: 25px;
}

text.item-id,
text.item-cost {
	font-size: 40px;
}

text.item-count {
	font-size: 14px;
	font-family: "Alice", serif;
}

text.item-text {
	font-size: 14px;
	font-family: "Alice", serif;
}

svg.item-card {
	border-radius: 25px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.purchase-card {
	border-radius: 25px;
	width: 200px;
	margin-left: 50px;
}


img.ui.image.icon {
	cursor: pointer;
	margin-left: 1em;
	display: inline-block;
}

img.ui.image.icon {
	width: auto;
	height: 35px;
	vertical-align: top;
	border: 2px solid red;
	border-radius: 100%;
}

img.ui.image.icon.unused {
	border: 1px solid transparent;
}

img.ui.image.icon.disabled {
	cursor: not-allowed;
}

.pull-right {
	float: right;
}

.list-header-break {
	display: block !important;
}

.ui.radio.checked .icon {
	border-bottom: 2px solid #21ba45;
}

.ui.checkbox.checked .icon {
	border-bottom: 2px solid #21ba45;
}

.ui.horizontal.list {
	display: block;
}

.ui.text.red {
	color: #db2828 !important;
}

.ui.text.orange {
	color: #f2711c !important;
}

.ui.text.yellow {
	color: #fbbd08 !important;
}

.ui.text.olive {
	color: #b5cc18 !important;
}

.ui.text.green {
	color: #21ba45 !important;
}

.ui.text.teal {
	color: #00b5ad !important;
}

.ui.text.blue {
	color: #2185d0 !important;
}

.ui.text.violet {
	color: #6435c9 !important;
}

.ui.text.purple {
	color: #a333c8 !important;
}

.ui.text.pink {
	color: #e03997 !important;
}

.ui.text.brown {
	color: #a5673f !important;
}

.ui.text.grey {
	color: hsl(0, 0%, 46%) !important;
}

:root {
	--spoiler-color: 1px dashed #db2828;
}

div.spoiler .ui.attached.segment {
	border: var(--spoiler-color);
}

div.spoiler .ui.tabular.menu .item.active {
	border-left: var(--spoiler-color);
	border-top: var(--spoiler-color);
	border-right: var(--spoiler-color);
}

div.spoiler .ui.tabular.menu {
	border-bottom: var(--spoiler-color);
}

.item-card-wrapper {
	max-width: 20%;
	position: relative;
	display: inline-block;
}
img.item-card {
	width: 100%;
	height: auto;
	filter: brightness(105%) contrast(90%);
	border-radius: 0 0 15px 15px;
	padding: 0 2px;
}
.item-card-wrapper .ui.toggle.checkbox label:before {
	background: rgba(255, 255, 255, 0.5);
}

.item-card-wrapper .ui.toggle.checkbox {
	position: absolute;
}

.item-card-wrapper .ui.label.itemId {
	/* position: absolute; */
	width: 50%;
	right: 7px;
	top: 0px;
	color: white;
	border-radius: 15px 15px 0px 0px;
	background: black;
}

.item-card-wrapper-header {
	border-radius: 15px 15px 0px 0px;
	background: black;
	display: flex;
	justify-content: space-between;
	margin: 0 2px;
}

.item-card-wrapper-footer {
	display: flex;
	justify-content: space-between;
	margin: 0px;
}

.item-card-wrapper .ui.label.no-item-management-count {
	padding: 0px 10px 10px 10px;
	width: 100%;
	right: 7px;
	top: 0px;
	background: white;
}

.store-inventory-col .ui.label.no-item-management-count {
	padding: 0px 10px 10px 10px;
	width: 100%;
	right: 7px;
	top: 0px;
	background: white;
}

.item-card-wrapper-container {
	/* position: absolute; */
}

.item-card-wrapper .ui.button.flipItem {
	position: relative;
	width: 20px;
	height: 20px;
	background: black;
	right: 5px;

}
.item-card-wrapper .ui.button.flipItem .undo.icon,
.item-card-wrapper .ui.button.flipItem .redo.icon {
	position: absolute;
	/* top: 50%; */
	padding: 4px;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	color: white;
	background: black;
}

.item-card-wrapper .ui.toggle.checkbox.i0 {
	left: 7px;
	top: 50px;
}
.item-card-wrapper .ui.toggle.checkbox.i1 {
	left: 7px;
	top: 85px;
}

.item-card-wrapper .ui.toggle.checkbox.i2 {
	right: 7px;
	top: 50px;
}

.item-card-wrapper .ui.toggle.checkbox.i3 {
	right: 7px;
	top: 85px;
}

.item-card-wrapper .ui.red.button {
	padding: 0;
	z-index: 2;
	position: absolute;
}

.ui.form .fields.inline-break {
	display: initial;
}

.ui.form .inline.inline-break.fields > label {
	display: block;
}
.ui.form .inline.inline-break.fields > .field {
	display: inline-block;
}

.item-summon {
	display: table-cell;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	font-size: smaller;
	color: #555;
}

.item-summon > div {
	display: inline-block;
	white-space: nowrap;
	padding: 0 2px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.item-summon > div:last-child {
	border-right: none;
}

@media screen and (max-width: 768px) {
	.ui.table,
	.ui.basic.table,
	.items-table,
	.items-table tr,
	.items-table tr td {
		border: none;
	}

	.ui.table thead tr:first-child > th:first-child {
		border-radius: unset;
		border-bottom: unset;
	}

	.items-table tr {
		border: 2px solid #767676 !important;
		border-radius: 5px;
	}

	.items-table thead tr th:last-child {
		border-bottom: none !important;
	}
	.items-table tbody tr td:first-child,
	.items-table tbody tr td:last-child {
		border-top: none !important;
	}

	.items-table tbody tr:first-child td.cost-col,
	.items-table tbody tr:first-child td.use-col,
	.items-table tbody tr:first-child td.text-col {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	.items-table tr {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		margin-bottom: 10px;
	}

	.items-table .ui.image {
		margin-top: 7px;
	}

	.items-table thead tr th.name-col,
	.items-table tbody tr td.name-col {
		grid-column: 3/7;
		font-size: 1.1em;
		font-weight: bold;
		white-space: normal;
		border-top: none;
	}

	.items-table thead tr th.slot-col,
	.items-table tbody tr td.slot-col {
		grid-row: 1;
		grid-column: 2;
		border-top: none;
	}

	.items-table thead tr th.cost-col,
	.items-table tbody tr td.cost-col {
		grid-row: 2;
		grid-column: 2;
		border-bottom: none;
	}

	.items-table thead tr th.use-col,
	.items-table tbody tr td.use-col {
		grid-column: 1;
		grid-row: 2;
		border-left: none !important;
		border-bottom: none;
	}

	.items-table thead tr th.text-col,
	.items-table tbody tr td.text-col {
		grid-column: 3/10;
		grid-row: 2;
		border-bottom: none;
	}

	.items-table thead tr th.source-col,
	.items-table tbody tr td.source-col {
		grid-column: 7/10;
		grid-row: 1;
		border-top: none;
	}

	.items-table thead tr th.store-inventory-col,
	.items-table tbody tr td.store-inventory-col {
		grid-column: 10;
		grid-row: 1/3;
	}
}

@media screen and (min-width: 415px) and (max-width: 768px) {
	.item-card-wrapper {
		max-width: 33.3333333333333%;
		padding: 0 2px;
	}
}

@media screen and (max-width: 414px) {
	.item-card-wrapper {
		max-width: 50%;
		padding-right: 2px;
	}

	.item-card-wrapper:nth-of-type(2n) {
		padding-right: 0;
		padding-left: 2px;
	}

	.items-table thead tr th.use-col,
	.items-table tbody tr td.use-col,
	.items-table thead tr th.text-col,
	.items-table tbody tr td.text-col {
		border-left: none !important;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	.items-table thead tr th.slot-col,
	.items-table thead tr th.source-col {
		border-bottom: none !important;
	}

	.items-table tbody tr td.slot-col,
	.items-table tbody tr td.source-col {
		border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
	}

	.items-table thead tr th.name-col,
	.items-table tbody tr td.name-col {
		grid-column: 2/10;
		font-size: 1.1em;
		font-weight: bold;
		white-space: normal;
		border-top: none;
	}

	.items-table thead tr th.slot-col,
	.items-table tbody tr td.slot-col {
		grid-row: 2;
		grid-column: 2;
		border-top: none;
	}

	.items-table thead tr th.cost-col,
	.items-table tbody tr td.cost-col {
		grid-row: 2;
		grid-column: 3;
		border-bottom: none;
	}

	.items-table thead tr th.use-col,
	.items-table tbody tr td.use-col {
		grid-column: 1;
		grid-row: 2;
		border-left: none !important;
		border-bottom: none;
	}

	.items-table thead tr th.text-col,
	.items-table tbody tr td.text-col {
		grid-column: 1/10;
		grid-row: 3;
		border-bottom: none;
	}

	.items-table thead tr th.source-col,
	.items-table tbody tr td.source-col {
		grid-column: 4/10;
		grid-row: 2;
		border-top: none;
	}

	.items-table thead tr th.store-inventory-col,
	.items-table tbody tr td.store-inventory-col {
		grid-column: 10;
		grid-row: 1/4;
	}
}

img.ui.image.soloClass {
	width: auto;
	padding: 5px;
	height: 30px;
	background-color: white;
	border: 1px solid black;
	opacity: 1;
}

.soloClass{
	width: auto;
	height: 30px;
	background-color: white;
	vertical-align: top;
}



button.ui.deleteUser {
	display: flex;
	align-items: center;
	padding: 0px;
}

button.ui.deleteUser .delete.icon {
	left: 3px;
	position: relative;
}

.ui.button.addUser {
	padding: 8px;
}

.classdropdown .item {
	width: 120px;
}

/* .purchase-card {
	width: 200px;
	margin-left: 50px;
} */

.purchase-content {
	display: flex;
	flex-direction: row;
}

.item-card-wrapper .ownerButton {
	padding: 0;
	z-index: 2;
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: unset;
}

.store-inventory-col .ownerButton {
	padding: 0;
	z-index: 2;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: unset;
}

.item-card-wrapper .simple-managment-container, 
.item-card-wrapper .party-management-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

.store-inventory-col .party-management-container {
	height: 75px;
	width: 75px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.noClass {
	background-color: black;
}

.item-card-wrapper .ownerButton0 {
	left: 7px;
	top: 50px;
}
.item-card-wrapper .ownerButton1 {
	left: 7px;
	top: 90px;
}

.item-card-wrapper .ownerButton2 {
	right: 7px;
	top: 50px;
}

.item-card-wrapper .ownerButton3 {
	right: 7px;
	top: 90px;
}

img.ui.image.ownerIcon {
	width: 35px;
	height: 35px;
	opacity: 1;
}

.addIcon {
	width: 35px;
	height: 35px;
	color: white;
	z-index: 3;
	padding: 25%;
}

.deleteIcon {
	left: -3px;
	height: 15px;
	width: 15px;
	position: absolute;
	z-index: 3;
	border-radius: 50%;
	background-color: white;
}

 .enchantment-circle:before {
	content: ' \25CF';
	font-size: 12px;
  }

  .faqImage {
	width: 100%;
  }
  