.doom {
    color: #39c3f1;
    font-weight: bold;
}

.ui.table td {
    padding: 0.5em;
}

td.text-col {
    font-size: 14px;
}

.items-table tbody tr td:nth-child(2) {
    white-space: nowrap;
}

.items-table tbody tr td:nth-child(3) {
    padding: unset;
}

.items-table tbody tr td:nth-child(3) .ui.image {
    display: initial;
    width: auto;
    height: 20px;
}

img.icon {
    width: auto;
    height: 18px;
    vertical-align: top;
}

.items-table img.icon.double-height {
    height: 36px;
    vertical-align: middle;
}

.items-table .source-col {
    white-space: nowrap;
}

text.item-head {
    font-size: 25px;
}

text.item-id,
text.item-cost {
    font-size: 40px;
}

text.item-count {
    font-size: 14px;
    font-family: 'Alice', serif;
}

text.item-text {
    font-size: 14px;
    font-family: 'Alice', serif;
}

svg.item-card {
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.ui.image.icon {
    cursor: pointer;
    margin-left: 1em;
    display: inline-block;
}

img.ui.image.icon {
    width: auto;
    height: 20px;
    vertical-align: top;
    border: 1px solid limegreen;
    border-radius: 100%;
}

img.ui.image.icon.disabled {
    border: 1px solid transparent;
}

.pull-right {
    float: right;
}

.list-header-break {
    display: block !important;
}

.ui.radio.checked .icon {
    border-bottom: 2px solid #21ba45;
}

.ui.checkbox.checked .icon {
    border-bottom: 2px solid #21ba45;
}

.ui.horizontal.list {
    display: block;
}

.ui.text.red {
    color: #db2828 !important;
}

.ui.text.orange {
    color: #f2711c !important;
}

.ui.text.yellow {
    color: #fbbd08 !important;
}

.ui.text.olive {
    color: #b5cc18 !important;
}

.ui.text.green {
    color: #21ba45 !important;
}

.ui.text.teal {
    color: #00b5ad !important;
}

.ui.text.blue {
    color: #2185d0 !important;
}

.ui.text.violet {
    color: #6435c9 !important;
}

.ui.text.purple {
    color: #a333c8 !important;
}

.ui.text.pink {
    color: #e03997 !important;
}

.ui.text.brown {
    color: #a5673f !important;
}

.ui.text.grey {
    color: #767676 !important;
}

div.spoiler .ui.attached.segment {
    border: 1px dashed #db2828;
}

div.spoiler .ui.tabular.menu .item.active {
    border-left: 1px dashed #db2828;
    border-top: 1px dashed #db2828;
    border-right: 1px dashed #db2828;
}

div.spoiler .ui.tabular.menu {
    border-bottom: 1px dashed #db2828;
}

.item-card-wrapper {
    max-width: 20%;
    position: relative;
    display: inline-block;
}
img.item-card {
    width: 100%;
    height: auto;
    filter: brightness(105%) contrast(90%);
    border-radius: 15px;
    padding: 0 2px;
}
.item-card-wrapper .ui.toggle.checkbox label:before {
    background: rgba(255,255,255,0.5);
}

.item-card-wrapper .ui.toggle.checkbox {
    position: absolute;
}

.item-card-wrapper .ui.label.itemCost {
    position: absolute;
    right: 7px;
    top: 0px;
    color: white;
    border-radius: 5px;
    background: black;
}

.item-card-wrapper .ui.toggle.checkbox.i0 {
    left: 7px;
    top: 50px;
}
.item-card-wrapper .ui.toggle.checkbox.i1 {
    left: 7px;
    top: 85px;
}

.item-card-wrapper .ui.toggle.checkbox.i2 {
    right: 7px;
    top: 50px;
}
.item-card-wrapper .ui.toggle.checkbox.i3 {
    right: 7px;
    top: 85px;
}

.ui.form .fields.inline-break {
    display: initial;
}

.ui.form .inline.inline-break.fields>label {
    display: block;
}
.ui.form .inline.inline-break.fields>.field {
    display: inline-block;
}

.item-summon {
    display: table-cell;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    font-size: smaller;
    color: #555;
}

.item-summon > div {
    display: inline-block;
    white-space: nowrap;
    padding: 0 2px;
    border-right: 1px solid rgba(0,0,0,.1);
}
.item-summon > div:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {

    .ui.table,
    .ui.basic.table,
    .items-table,
    .items-table tr,
    .items-table tr td {
        border: none;
    }

    .ui.table thead tr:first-child>th:first-child {
        border-radius: unset;
        border-bottom: unset;
    }

    .items-table tr {
        border: 2px solid #767676 !important;
        border-radius: 5px;
    }

    .items-table thead tr th:last-child {
        border-bottom: none !important;
    }
    .items-table tbody tr td:first-child,
    .items-table tbody tr td:last-child {
        border-top: none !important;
    }

    .items-table tbody tr:first-child td.cost-col,
    .items-table tbody tr:first-child td.use-col,
    .items-table tbody tr:first-child td.text-col {
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .items-table tr {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin-bottom: 10px;
    }

    .items-table .ui.image {
        margin-top: 7px;
    }

    .items-table thead tr th.name-col,
    .items-table tbody tr td.name-col {
        grid-column: 3/7;
        font-size: 1.1em;
        font-weight: bold;
        white-space: normal;
        border-top: none;
    }

    .items-table thead tr th.slot-col,
    .items-table tbody tr td.slot-col {
        grid-row: 1;
        grid-column: 2;
        border-top: none;
    }

    .items-table thead tr th.cost-col,
    .items-table tbody tr td.cost-col {
        grid-row: 2;
        grid-column: 2;
        border-bottom: none;
    }

    .items-table thead tr th.use-col,
    .items-table tbody tr td.use-col {
        grid-column: 1;
        grid-row: 2;
        border-left: none !important;
        border-bottom: none;
    }

    .items-table thead tr th.text-col,
    .items-table tbody tr td.text-col {
        grid-column: 3/10;
        grid-row: 2;
        border-bottom: none;
    }

    .items-table thead tr th.source-col,
    .items-table tbody tr td.source-col {
        grid-column: 7/10;
        grid-row: 1;
        border-top: none;
    }

    .items-table thead tr th.store-inventory-col,
    .items-table tbody tr td.store-inventory-col {
        grid-column: 10;
        grid-row: 1/3;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
    .item-card-wrapper{
        max-width: 33.3333333333333%;
        padding: 0 2px;
    }
}

@media screen and (max-width: 414px) {

    .item-card-wrapper {
        max-width: 50%;
        padding-right: 2px;
    }

    .item-card-wrapper:nth-of-type(2n) {
        padding-right: 0;
        padding-left: 2px;
    }

    .items-table thead tr th.use-col,
    .items-table tbody tr td.use-col,
    .items-table thead tr th.text-col,
    .items-table tbody tr td.text-col {
        border-left: none !important;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .items-table thead tr th.slot-col,
    .items-table thead tr th.source-col {
        border-bottom: none !important;
    }

    .items-table tbody tr td.slot-col,
    .items-table tbody tr td.source-col {
        border-top: 1px solid rgba(0,0,0,.1) !important;
    }

    .items-table thead tr th.name-col,
    .items-table tbody tr td.name-col {
        grid-column: 2/10;
        font-size: 1.1em;
        font-weight: bold;
        white-space: normal;
        border-top: none;
    }

    .items-table thead tr th.slot-col,
    .items-table tbody tr td.slot-col {
        grid-row: 2;
        grid-column: 2;
        border-top: none;
    }

    .items-table thead tr th.cost-col,
    .items-table tbody tr td.cost-col {
        grid-row: 2;
        grid-column: 3;
        border-bottom: none;
    }

    .items-table thead tr th.use-col,
    .items-table tbody tr td.use-col {
        grid-column: 1;
        grid-row: 2;
        border-left: none !important;
        border-bottom: none;
    }

    .items-table thead tr th.text-col,
    .items-table tbody tr td.text-col {
        grid-column: 1/10;
        grid-row: 3;
        border-bottom: none;
    }

    .items-table thead tr th.source-col,
    .items-table tbody tr td.source-col {
        grid-column: 4/10;
        grid-row: 2;
        border-top: none;
    }

    .items-table thead tr th.store-inventory-col,
    .items-table tbody tr td.store-inventory-col {
        grid-column: 10;
        grid-row: 1/4;
    }

}

img.ui.image.soloClass {
    width: auto;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    opacity: 1;
}

button.ui.deleteUser {
    display: flex;
    align-items: center;
    padding: 5px;
}
